@charset "utf-8";

/* すべての要素に共通して適用するcss */
* {
    padding: 0;
    margin: 0;
    /* borderの太さも含めて親要素の中に収まるよう、サイズを調整する */
    box-sizing: border-box;
}

body {
    font-family:
        /* importしたフォント */
        "Noto Sans JP",
        "Helvetica Neue",
        "Helvetica",
        "Hiragino Sans",
        "Hiragino Kaku Gothic ProN",
        "Arial",
        "Yu Gothic",
        "Meiryo",
        sans-serif;
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
    margin: 0 0 0 0;
    background: #FFFFFF;
}